<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="gumbi2">
               <a href="/toggle">
                   <button id="gumbi">Toggle</button>
               </a>
             <br>
             <br>
             <a href="/on">
                 <button id="gumbi">Lučke ON</button>
             </a>
             <br>
             <br>
                <a href="/off">
                <button id="gumbi">Lučke OFF</button>
             </a>
        </div>

        <div id="r"><%= response %></div>

    </body>
</html>
