body {
    text-align: center;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 30%);
    position: absolute;
}

.indexBtn {
    width: 100px;
    margin-top: 20px;
}

.ligthsBtn {
    display: block;
    width: 100%;
    margin-top: 20px;
}

#response_text {
    margin-top: 10px;
    display: block;
}