body {
    text-align: center;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 30%);
    position: absolute;
}

.send {
    margin-top: 10px;
}

.myBtn {
    margin-top: 20px;
    width: 100px;
}

#r {
    margin-top: 20px;
}
